html,
body {
    font-family: 'Merriweather', sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 1200px;
    line-height: 1.4em;
}

.clearfix {
    clear: both;
}

/* Title and Description */

.page-title {
    text-align: center;
    margin: auto;
    line-height: 2em;
  }
  
  .logo {
    height: 80px;
    width: 80px;
    background-image: url("https://res.cloudinary.com/danza00/image/upload/v1613803340/heartpng.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 1em;
  }
  
  .page-title h1 {
    display: inline-block;
  }
  
  .main {
    text-align: center;
}

.page-description {
  font-size: 0.8rem;
  padding: 30px;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    width: 240px;
    height: 300px;
    border: 2px solid;
    border-radius: 4px;
  }

  /* Footer Navigation */

footer {
    font-family: sans-serif;
}
nav {
    margin-top: 30px;
  }
  
  nav ul {
    display: block;
  }
  
  nav li {
    display: inline;
    margin: 0 20px 0 0;
  }